body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div{
    border-radius: 50%;
    width: 35rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./2.jpg');
    transition: 0.7s;
}

div:hover{
    transform: scale(0.7);
    transform: rotate(360deg);
    background-image: none;
}

img{
    transition: 0.7s;
}

img:hover{
    transform: scale(1.8);
}